<h1>Tickr</h1>
<div class="nav-wrapper">
    <ul>
    <li><button class="btn btn-default homeBtn">Home</button></li>
    <li><button class="btn btn-default get-saved-btn">Saved Articles</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Technology">Technology</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Sports">Sports</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Business">Business</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Entertainment">Entertainment</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Health">Health</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Science">Science</button></li>
    </ul>
    <div class="searchBar">
          <input type="text" id="search" placeholder="Search the news"><input type="submit" id="btn btn-default" class="btn btn-default">
    </div>
</div>

<!-- <div class="nav">
    <button class="homeBtn">Home</button>
    <button type="button" class="btn btn-default" id="logout">Logout</button>
    {{#each categories}}
    <button class="categoryBtn" data-category="{{title}}">{{title}}</button>
    {{/each}}
    <input type="text" id="search" placeholder="Search the news"><input type="submit" id="searchBtn" class="searchBtn">
</div> -->