<meta charset="UTF-8">
<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Tickr</title>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/newsapi.js"></script>
<script src="/assets/js/tickr.js"></script>

