<h1>Tickr</h1>

<div class="nav">
    <button class="homeBtn">Home</button>
<<<<<<< HEAD
    <button class="showSavedBtn">Saved Articles</button>
=======
>>>>>>> 5f3a9a453b31b5c5a5ee1c1cabcbdb97f52257b2
    <button class="categoryBtn" data-category="Technology">Technology</button>
    <button class="categoryBtn" data-category="Sports">Sports</button>
    <button class="categoryBtn" data-category="Business">Business</button>
    <input type="text" id="search" placeholder="Search the news"><input type="submit" id="searchBtn">
</div>