<h1>Tickr</h1>

<div class="nav">
    <button class="homeBtn">Home</button>
    <button class="categoryBtn" data-category="Technology">Technology</button>
    <button class="categoryBtn" data-category="Sports">Sports</button>
    <button class="categoryBtn" data-category="Business">Business</button>
    <input type="text" id="search" placeholder="Search the news"><input type="submit" id="searchBtn">
</div>