<h1>Test</h1>
<button class="homeBtn" id="homeBtn">Home</button>
<button class="categoryBtn" data-category="technology">Technology</button>
<button class="categoryBtn" data-category="sports">Sports</button>
<button class="categoryBtn" data-category="business">Business</button>