<h1>Tickr</h1>

<div class="nav-wrapper">
    <ul>
    <button class="btn btn-default">Home</button>
    <button class="btn btn-default">Saved Articles</button>
    <button class="btn btn-default" data-category="Technology">Technology</button>
    <button class="btn btn-default" data-category="Sports">Sports</button>
    <button class="btn btn-default" data-category="Business">Business</button>
    </ul>
    <div class="searchBar">
          <input type="text" id="search" placeholder="Search the news"><input type="submit" id="searchBtn" class="searchBtn">
    </div>
    

</div>