<style>
    .btn {
	background-color: #3a4d54;	
}

.btn:hover {
	background-color: #48c7f9;
}
ul {
    align-items: center;
}

</style>

<h1>Tickr</h1>

<div class="nav-wrapper">
    
    <li><button class="btn btn-default homeBtn">Home</button></li>
    <li><button class="btn btn-default">Saved Articles</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Technology">Technology</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Sports">Sports</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Business">Business</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Entertainment">Entertainment</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Health">Health</button></li>
    <li><button class="btn btn-default categoryBtn" data-category="Science">Science</button></li>
    
    <div class="searchBar">
          <input type="text" id="search" placeholder="Search the news"><input type="submit" id="btn btn-default" class="btn btn-default">
    </div>
    

</div>