body {
	overflow: hidden;
}

.image-right {
	position: relative;
	height: 100vh;
	background-image: url(../img/city.jpg);
	background-size: cover;
	color: #f2f7f7;
}

.text {
	margin: auto;
	margin-top: 20%;
	background: rgba(58, 77, 84, .75);
	width: 50vw;
	border-radius: 10px;
	text-align: center;
}

.login-form 	{
	margin-top: 55%;	
}
.form-group {
	padding: 15px;
}

#login-div {
	margin-top: 20%;
	width: 50%;
	background-color: #20063b; 
}
	
#login-left {
	background-color: #f2f7f7;
	height: 100vh;
}

.btn {
	background-color: #3a4d54;	
}

.btn:hover {
	background-color: #48c7f9;
}