body {
   
	background-image: url(../img/newspaper.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
  }
}

.btn {
	background-color: #3a4d54;	
}

span {
    color: #f2f7f7; 
}


.checkboxes {
    position: relative;
    text-align: left;
    margin-left: auto;

}

.btn:hover {
	background-color: #48c7f9;
}



.form-1 {
    background: rgba(58, 77, 84, .75);   
    color: #f2f7f7; 
    text-align: center;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    width: 55%;
}

.form-2 {
    background: rgba(58, 77, 84, .75);   
    text-align: center;
    position: relative;
    border-radius: 10px;
    color: #f2f7f7; 
    padding: 20px;
    margin: 0 auto;
    width: 45%;
}

.category-selector {
    margin: 0 auto;
}

.form-3 {
    background: rgba(58, 77, 84, .75);   
    text-align: center;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    color: #f2f7f7; 
    padding: 20px;
    width: 55vw;
    align-content: center;
}



.info-inner {
    padding: 30px;  
    margin: 0 auto;
}

.welcome-text {
    padding: 30px;
}

.checkboxes {
margin: 0 auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
}

.btn {
    background-color: rgb(58, 77, 84);
    margin: 5px;
}

.btn:hover {
   background-color: rgb(72, 199, 249);
}

.country {
    display: inline-block;
    width: 170px;
}