<div class="form-3">
  <div class="row country-text">
    <br>
    <h2>You're almost there!</h2>
    <h5>Just let us know what countries you'd like to receive your news from</h5>
  </div>
  <div class="row checkboxes">
    <form class="country-selector" action="#">
      <ul class="countries">
        {{#each countries}}
        <li>
          <label>
            <input type="checkbox" value={{name}} data-code={{code}}/>
            <span>{{name}}</span>
          </label>
        </li>
        {{/each}}
      </ul>
  </div>
  <button type="buttpn" class="btn btn-default" id="previous-2">Previous</button>
  <button type="submit" class="btn btn-default" id="submit-3">Next</button>
  </form>
</div>