<div class="image">
  <div class="container">
    {{#if userInfo}}
    {{> signup/userInfo }}
    {{/if}}
    {{#if categorySelect}}
    {{> signup/categorySelect }}
    {{/if}}
    {{#if countrySelect}}
    {{> signup/countrySelect}}
    {{/if}}
  </div>
</div>