<div class="row form-1">
  <div class="col-md-4 col-md-offset-3 basic-info">
    <div class="welcome-text">
      <br>
      <h2>We're happy you're here!</h2>
      <br>
      <h5>We just need little bit of info to customize your experience</h5>
    </div>
    <div class="info-inner">
      <form class="signup">
        <div class="form-group">
          <label for="first-name-input"></label>
          <input type="text" class="form-control" id="first-name-input" placeholder="First Name" />
        </div>
        <div class="form-group">
          <label for="last-name-input"></label>
          <input type="text" class="form-control" id="last-name-input" placeholder="Last Name" />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"></label>
          <input type="email" class="form-control" id="email-input" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input type="password" class="form-control" id="password-input" placeholder="Password" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input type="password" class="form-control" id="password-confirm" placeholder="Confirm Password" />
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <!--<a href="/signup/categorySelect"><button type="button" class="btn btn-default" id="submit-1">Next</button></a>-->
        <button type="button" class="btn btn-default" id="submit-1">Next</button>
      </form>
      <br />
      <p>Or log in <a href="login.html">here</a></p>
    </div>
  </div>
</div>